PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_DISCORD_URL=https://discord.gg/your-server
PUBLIC_DOWNLOAD_URL=https://vanillaplus.org/
PUBLIC_WIKI_URL=https://vanilla-plus.wiki/
PUBLIC_SUPPORT_URL=https://vanillaplus.org/support-project
PUBLIC_TALENT_CALCULATOR_URL=https://hawaiisa.github.io/
PUBLIC_BUG_TRACKER_URL=https://github.com/
PUBLIC_DONATE_URL=
DEMO_ALLOW_ANY_LOGIN=true
